<html>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
	    <div class="navbar-header">
    		<ul class="nav navbar-nav">
        	    <li role="presentation" class="active"><a href="./homeDB">Home</a></li>

        	    <li role="presentation"><a href="./pets">Pets</a></li>
        	    <li role="presentation"><a href="./adopters">Adopters</a></li>
        	    <li role="presentation"><a href="./accessories">Accessories</a></li>
		    <li role="presentation"><a href="./species">Species</a></li>
    		</ul>
		</div>
	    </div>
	</div>
    </nav>

    <div class="container">
    	<div class="jumbotron">

            <h1>Willamette Valley Animal Rescue</h1>
    	</div>
                                  
    	<div class="row">
	    <div class="col-lg-6">
	    	<div class="thumbnail hovereffect">
		   <img class="img-responsive" src="https://images.unsplash.com/photo-1534822916-212967756e82?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cb771bd64716e646bcf6ccea8f704783&auto=format&fit=crop&w=1050&q=80">
	    	    <div class="overlay">
			<h2>                 </h2>
			<h3> 
			    <a class="info" href="./pets">Pets Available</a>
			</h3>
		    </div>
		</div>
	    </div>
	
            <div class="col-lg-6">
	    	<div class="thumbnail hovereffect">
	    	   <img class="img-responsive" src="https://images.unsplash.com/photo-1522276498395-f4f68f7f8454?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61a38f22baeb6a00be6663ab28dc5274&auto=format&fit=crop&w=1049&q=80">
		   <div class="overlay">
			<h2>                  </h2>
			<h3><a class="info" href="./adopters">Adopters</a></h3>
		   </div>
	    	</div>
	    </div>

	    <div class="col-lg-6">
	    	<div class="thumbnail hovereffect">
	    	    <img class="img-responsive" src="https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8e64be3b9dcb29b57f6034eeccc6561e&auto=format&fit=crop&w=1050&q=80">
		    <div class="overlay">
			<h2>                  </h2>
			<h3><a class="info" href="./accessories">Accessories</a></h3>
		    </div>
	    	</div>
	    </div>

	    <div class="col-lg-6">
	    	<div class="thumbnail hovereffect">
	    	    <img class="img-responsive" src="https://images.unsplash.com/photo-1457014749444-4dfbbd2426d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae3f95ea6868045407b347ab987dc286&auto=format&fit=crop&w=1050&q=80">
		    <div class="overlay">
			<h2>                   </h2>
			<h3><a class="info" href="./species">Species</a></h3>
		    </div>
	    	</div>
	    </div>
	</div>
    </div>
</body>
</html>
